# User-specific stuff:
dictionaries
jsLibraryMappings.xml
shelf/
tasks.xml
vcs.xml
workspace.xml

# Sensitive or high-churn files:
dataSources.ids
dataSources.local.xml
dataSources.xml
dynamic.xml
sqlDataSources.xml
uiDesigner.xml

/sonarlint/**/*
